/* Default styling */
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Rubik;
}

.text {font-size: 16px}
.link {text-decoration: none}
.link:hover {text-decoration: underline}
.white {color: #ffffff}
.black {color: #2e3033;}
.center {text-align: center}
.bg_black {background-color: #282834;}
.bg_white {background-color: #ffffff;}
* {box-sizing: border-box}

hr {
  	border: 1px solid #f1f1f1;
  	margin-bottom: 25px;
}



/* Navbar styling */
.navbar {
	width: 100%;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
	z-index: 2;
}

.navbar_link {
	padding: 25px;
	float: left;
	font-size: 20px;
	text-decoration: none;
	color: #000000;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}

.navbar_link:hover {
	color: #ffffff;
	background-color: #2e98c9;
}

.active {
	color: #ffffff;
	background-color: #267ebd;
}

.navbar img {
	width: 120px;
	padding: 20px;
	float: left;
}

.navbar img:hover {content: url(../images/tue_hover.png);}
.navbar .icon {display: none;}



/* Footer */
.footer {
	width: 100%;
	padding: 25px 0 25px 0;
	background-color: #2e98c9;
}